@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
h1 {
    font-family: 'Rampart One', cursive;
    color: rebeccapurple;
}
body { 
    background-color: silver; 
}

.Mongo{
    padding: 5px 10px 5px 10px; 
    Height: 200px; 
    Width: 120px;
}



  .box {
        background-color: lightgrey;
        border-color: lightgray;
        border-radius: 10px;
        border-style: 10px; 
        padding: 12px;
    }
.bilder{ 
    width: 100px;
    border-radius: 400px;
    height: 100px;
    margin: 25px 10px;

}
   .Virpi {
       font-size: 10px;
   }