@import url('https://fonts.googleapis.com/css2?family=Glory:wght@100&display=swap');
font-family sans-serif



   
body {
    background-image:linear-gradient(315deg, #723a7a 34%, #111 64%);
    background-color: blueviolet; 
    height: 100vh; 
    box-shadow: 0 10px 20px;
}
p {
    color: white;
} 
.box {
    background-color: rgb(224, 211, 224);
    Width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 850px;
    margin: auto;
    border-radius: 10px;

}
ol {
    font-size: 30px;
} 
 
 .right-col{
     float: right;
     margin-right: 6%;
     margin-top:  120px;
     align-items: center;
     size: 10px;

 } 
 .right-col{
    font-size: 19px;
    color: #5f5f5f;
    font-weight: 400;
    margin-right: 15px;

} 
#icon{
    width: 10px;
    cursor: pointer;
} 
.bilder {
    width: 50px;
} 
audio {
  font-weight: 400;
    float: auto;
    margin-right: center;
    margin-top:  120px;
    size: 10px;
    margin: center;
    margin-left: auto;
    }